<%= form_for(@task) do |f| %>
    <% unless @task.errors.empty? %>
      <script type="text/javascript">
        Materialize.toast('invalids fields, please review it', 3000)
      </script>
    <% end %>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <% if @task.errors[:title].empty?  %>
          <%= f.text_field :title, { class: 'validate',  autocomplete: 'off'} %>
          <br>
        <% else %>
          <%= f.text_field :title, { class: 'validate invalid',  autocomplete: 'off'} %>
        <% end %>

        <%= f.label :title, class: 'active'%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <%= f.text_area :description, { class: 'materialize-textarea', autocomplete: 'off'} %>
        <%= f.label :description, class: 'active' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3 ">
      <i class="material-icons prefix">today</i>
      <%= f.label :start_date, class: 'active' %>
      <% if @task.errors[:start_date].empty?  %>
        <%= f.text_field :start_date, class: "datepicker " %>
      <% else %>
        <%= f.text_field :start_date, class: "datepicker validate invalid" %>
      <% end %>
      </div>

      <div class="input-field col s3 ">
        <i class="material-icons prefix">done_all</i>
        <%= f.label :finish_date, class: 'active' %>

        <% if @task.errors[:finish_date].empty?  %>
          <%= f.text_field :finish_date, class: "datepicker" %>
        <% else %>
          <%= f.text_field :finish_date, class: "datepicker validate invalid" %>
        <% end %>

      </div>

      <div class="input-field col s3 ">
        <i class="material-icons prefix">query_builder</i>
        <% if @task.errors[:duration].empty?  %>
          <%= f.number_field :duration, { class: 'validate',  autocomplete: 'off'} %>
          <br>
        <% else %>
          <%= f.number_field :duration, { class: 'validate invalid',  autocomplete: 'off'} %>
        <% end %>
        <%= f.label :duration, class: 'active' %>
      </div>

      <div class="input-field col s3">
        <input name="task[finished]" type="hidden" value="0">
        <input type="checkbox" value="1" name="task[finished]" id="task_finished" class="filled-in">
        <label for="task_finished">Finished</label>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col s3 right">
        <button class="right btn waves-effect waves-light red" type="submit" name="commit" value="Create Task"><%= @action %>
          <i class="material-icons right">send</i>
        </button>
      </div>

      <div class="col s3 right">
        <a class="right btn waves-effect waves-light red " href= <%= "#{tasks_path}"%> ><i class="material-icons right">replay</i>Cancel</a>
      </div>
    </div>


<% end %>


<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
  });
</script>




